
<h2>Exploration (get a very first feeling of the data)</h2>

In [1]:
import pandas as pd

### Summary

This is a copy of `wico-explore01.ipynb` for testing purposes

In [2]:
column_name='zwst (mg/l)'

In [3]:
XLS_DIR='../../Waterlaboratorium-Noord-IoT/Data/'
%ls $XLS_DIR

Kennisnetwerk_data_WWTPpopulaties_WLN.xlsx
Kennisnetwerk_procesdata_kwaliteitsdata_WLN.xlsx
README.MD
begeleidende tekst data casus WLN.docx
uurgeg_277_2011-2020.txt
uurgeg_277_2011-2020_KNMI_Lauwersoog.zip
uurgeg_280_2011-2020.txt
uurgeg_280_2011-2020_KNMI_Eelde.zip
uurgeg_285_2011-2020.txt
uurgeg_285_2011-2020_KNMI_Huibertgat.zip
uurgeg_286_2011-2020.txt
uurgeg_286_2011-2020_KNMI_Nieuw_Beerta.zip

In [4]:
# This result in current dir as $DATA_DIR is empty
%ls $DATA_DIR

1-read-data.ipynb
Pipfile
Pipfile.lock
README.MD
altair-data-a7058e0c6f5119308fc517a83fa03339.json
altair-test.ipynb
clemens-01.ipynb
clemens-02.ipynb
clemens-03.ipynb
clemens-04.ipynb
data/
docs/
inne-01.ipynb
read_and_explore.ipynb
wico-explore01.ipynb

In [5]:
CSV_DIR='../../ds-wln/datasets/'
%ls $CSV_DIR

Kennisnetwerk_procesdata_kwaliteitsdata_WLN/

In [6]:
USE_XLS=False

if USE_XLS:
    # This will result in XLRDError: Can't find workbook in OLE2 compound document
    orig_influent = pd.read_excel(XLS_DIR + "Kennisnetwerk_procesdata_kwaliteitsdata_WLN.xlsx", sheet_name='Influent lab analyses')
    orig_effluent=pd.read_excel(DATA_DIR + "Kennisnetwerk_procesdata_kwaliteitsdata_WLN.xlsx", sheet_name='effl. lab analyses')

else:
    orig_influent = pd.read_csv(CSV_DIR + 'Kennisnetwerk_procesdata_kwaliteitsdata_WLN/' + 'Influent lab analyses.csv', sep=',', decimal ='.')
    orig_effluent = pd.read_csv(CSV_DIR + 'Kennisnetwerk_procesdata_kwaliteitsdata_WLN/' + 'effl. lab analyses.csv', sep=',', decimal ='.')
    # We need to convert date field(s) from m/d/y as these are exported by CSV and not by Excel above

In [7]:
# Fetch Datum and our target column_name
orig_influent = orig_influent[['Datum', column_name]]

In [8]:
orig_effluent=orig_effluent[['Datum', column_name]]

orig_effluent.head()

      Datum zwst (mg/l)
0  10/01/14          17
1  10/06/14           7
2  10/11/14          39
3  10/16/14          15
4  10/21/14          11

In [12]:
influent = orig_influent.copy()

# opruimen maffe velden
effluent = orig_effluent.copy()
strange_items = effluent[column_name].str.contains('<' , na=False)
effluent = effluent[strange_items==False]


if USE_XLS:
    effluent['date'] = pd.to_datetime(effluent['Datum'], format='%d-%m-%Y').dt.date
    influent['date'] = pd.to_datetime(influent['Datum'], format='%d-%m-%Y').dt.date
else:
    effluent['date'] = pd.to_datetime(effluent['Datum'], format='%m/%d/%y').dt.date
    influent['date'] = pd.to_datetime(influent['Datum'], format='%m/%d/%y').dt.date
    
effluent.set_index('date')
influent.set_index('date')

               Datum  zwst (mg/l)
date
2014-10-01  10/01/14        172.0
2014-10-06  10/06/14         91.0
2014-10-11  10/11/14         66.0
2014-10-16  10/16/14        174.0
2014-10-21  10/21/14         74.0
2014-10-26  10/26/14        113.0
2014-10-31  10/31/14        207.0
2014-11-05  11/05/14         68.0
2014-11-10  11/10/14         54.0
2014-11-15  11/15/14        161.0
2014-11-20  11/20/14        171.0
2014-11-25  11/25/14        189.0
2014-11-30  11/30/14         39.0
2014-12-05  12/05/14         52.0
2014-12-13  12/13/14         92.0
2014-12-15  12/15/14         49.0
2014-12-20  12/20/14       1037.0
2014-12-25  12/25/14         41.0
2014-12-31  12/31/14         40.0
2015-01-04  01/04/15         90.0
2015-01-09  01/09/15        101.0
2015-01-14  01/14/15        322.0
2015-01-22  01/22/15         37.0
2015-01-24  01/24/15        218.0
2015-01-29  01/29/15        156.0
2015-02-03  02/03/15         35.0
2015-02-08  02/08/15         96.0
2015-02-13  02/13/15         46.0
2015-02-18  02/18/15         52.0
2015-02-20  02/20/15        235.0
...              ...          ...
2017-04-07  04/07/17         73.0
2017-04-17  04/17/17        113.0
2017-04-27  04/27/17        109.0
2017-05-07  05/07/17        112.0
2017-05-17  05/17/17        138.0
2017-05-27  05/27/17        123.0
2017-06-06  06/06/17         66.0
2017-06-16  06/16/17        126.0
2017-06-26  06/26/17         87.0
2017-07-07  07/07/17         85.0
2017-07-16  07/16/17        124.0
2017-07-26  07/26/17         57.0
2017-08-05  08/05/17        161.0
2017-08-15  08/15/17        276.0
2017-08-25  08/25/17         77.4
2017-09-04  09/04/17        146.0
2017-09-14  09/14/17         91.8
2017-09-26  09/26/17         72.1
2017-10-04  10/04/17         72.0
2017-10-14  10/14/17        170.0
2017-10-24  10/24/17        306.0
2017-11-03  11/03/17         48.0
2017-11-13  11/13/17        164.0
2017-11-23  11/23/17        170.0
2017-12-03  12/03/17         61.0
2017-12-13  12/13/17         79.0
2017-12-25  12/25/17        107.0
2018-01-02  01/02/18         54.4
2018-01-17  01/17/18        216.0
2018-01-22  01/22/18        119.0

[170 rows x 2 columns]

In [ ]:
result=pd.merge(influent,effluent,on=['Datum'], how='outer',suffixes=("_inf","_eff"))
result
result.set_index("date_inf")
#selection=result[pd.isnull(result).any(axis=1)]

#selection.head()

In [ ]:
print("influent:",influent.shape)
print("effluent:",effluent.shape)
print("result:",result.shape)
result

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

fig = plt.figure(figsize=(16, 4)) 
plt.plot(result.Datum,result[column_name+"_inf"])
plt.plot(result.Datum,result[column_name+"_eff"])
plt.title(column_name)

<h2>3. Select some data</p></h2>
Now, let us make a selection of the data and show this.


### a. Pick a garage_id, and a time_window as described below.
from_datetime="2016-01-01 00:00:00"

to_datetime="2016-03-01 00:00:00"

garage_id=36


### b. Filter the dataframe using these dates and garage_id. 
### c. See if the filtering worked and check how many lines remain in the filtered dataframe.

In [ ]:
from_datetime="2016-01-01 00:00:00"
to_datetime="2016-03-01 00:00:00"
garage_id=36
# create a date_time column, and filter using a 'mask' 
visitors_per_day['visit_datetime'] = pd.to_datetime(visitors_per_day['visit_date'])
mask = (visitors_per_day['visit_datetime']>=from_datetime) & (visitors_per_day['visit_datetime'] <= to_datetime) & (visitors_per_day['garage_id']==garage_id)
# not necessary, but one is allowed to remove that superfluous column here
#visitors_per_day=visitors_per_day.drop(['visit_datetime'], axis=1)
selected= visitors_per_day.loc[mask]
print("from", from_datetime,"to",to_datetime,"aantal:",len(selected))
selected.head(5)

<h2>4. Calculate a rolling mean of visitors</h2>
Use the **filtered dataset** from the previous question. 

### a. Make sure you understand the concept of a rolling mean. 
A *rolling mean* is also called called *moving average*. See https://en.wikipedia.org/wiki/Moving_average for an explanation.

### b. Compute the rolling mean on the count of transactions per day per garage. 
See https://stackoverflow.com/questions/15771472/pandas-rolling-mean-by-time-interval on how to implement a rolling mean in pandas. Choose a proper window size. 

### c. Show the number of visits in a graph.
Plot the total amount of visitors on a given day in a plot. Add the rolling mean to the same plot. Use matplotlib's *plot* function.

In [ ]:
with_rolling_mean=selected.copy()
with_rolling_mean['RollingMean']=with_rolling_mean['count_transactions'].rolling(window=7).mean()
with_rolling_mean.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
fig = plt.figure(figsize=(16, 4)) 
plt.plot(with_rolling_mean['count_transactions'])
plt.plot(with_rolling_mean['RollingMean'])
plt.title("# visits per day")

<h2>5. Draw some graphs</h2>

### a. Add date features
Add the year, week, month, day, day of year and day of the week as features. Use the corresponding functions from *datetime*.
### b. Make graphs per month for all garages
For each month, make a separate plot with separate lines for each garage to show the trend of the number of visitors. Color some dots systematically so you can detect a pattern (for example, give each monday a different color than the other dots).

Do you see a pattern?

### c. Make a graph per weekday per garage. 
Count the total transactions per weekday.  Make a plot with the days of the week on the x-axis, the number of transactions on the y-axis, and a separate line for each garage to show the week pattern. 

### d. Make a graph per hour per garage.
Same as in c., but now use hour instead of weekday. So, the x-axis will consists of all 24 hours in a day.

In [ ]:
visitors_per_day['visit_datetime'] = pd.to_datetime(visitors_per_day['visit_date'])
visitors_per_day['year']=visitors_per_day.visit_datetime.dt.year
visitors_per_day['week']=visitors_per_day.visit_datetime.dt.week
visitors_per_day['month']=visitors_per_day.visit_datetime.dt.month
visitors_per_day['day']=visitors_per_day.visit_datetime.dt.day
visitors_per_day['dayofyear']=visitors_per_day.visit_datetime.dt.dayofyear
visitors_per_day['weekday']=visitors_per_day.visit_datetime.dt.weekday
visitors_per_day.head(5)

In [ ]:
import matplotlib.pyplot as plt
for year in range(2016,2017+1):
    for month in range(1,12+1):
        fig = plt.figure(figsize=(16, 4))   
        for garage_id in parking_locations.garage_id.unique():
            mask = (visitors_per_day['month']==month) & (visitors_per_day['year']==year) & (visitors_per_day['garage_id']==garage_id)
            data= visitors_per_day.loc[mask]
            plt.plot(data['visit_date'],data['count_transactions'])
            plt.plot(data['visit_date'],data['count_transactions'],"bo")
            saturdays=data[data['weekday']==6]
            sundays=data[data['weekday']==0]
            plt.plot(saturdays['visit_date'],saturdays['count_transactions'],"ro")
            plt.plot(sundays['visit_date'],sundays['count_transactions'],"go")
        plt.title(str(year)+":"+str(month))
        plt.show()

In [ ]:
parking_transactions['weekday_name'] = parking_transactions['visit_datetime'].dt.weekday_name
visitors_per_weekday = parking_transactions.groupby(['weekday_name','garage_id'])['transaction_id'].count().rename(columns={'transaction_id':'count_transactions'})
visitors_per_weekday.head()

In [ ]:
visitors_per_weekday.plot(title="sum #transactions per day for each garage", kind="bar",figsize=(16,4))

In [ ]:
parking_transactions['weekday'] = parking_transactions['visit_datetime'].dt.weekday
visitors_per_weekday = parking_transactions.groupby(['weekday','garage_id','weekday_name'],as_index=False)['transaction_id'].count().rename(columns={'transaction_id':'count_transactions'})
visitors_per_weekday.head()

In [ ]:
fig = plt.figure(figsize=(16, 4))  
ax = fig.add_subplot(111)
plt.title("visits per weekday")
for garage_id in parking_locations.garage_id.unique():
    mask =(visitors_per_weekday['garage_id']==garage_id)
    data= visitors_per_weekday.loc[mask]
    plt.plot(data['weekday'],data['count_transactions'],label=str(garage_id))
    ax.legend()
plt.show()

<h2>and now... per hour instead of per day</h2>

In [ ]:
parking_transactions['hour'] = parking_transactions['visit_datetime'].dt.hour
visitors_per_hour = parking_transactions.groupby(['hour','garage_id'])['transaction_id'].count().rename(columns={'transaction_id':'count_transactions'})
visitors_per_hour.head()

In [ ]:
visitors_per_hour.plot(title="sum count #transactions per hour for each garage divided by capacity of garage",kind="bar",figsize=(16,4))

In [ ]:
visitors_per_hour = parking_transactions.groupby(['garage_id','hour'],as_index=False)['transaction_id'].count().rename(columns={'transaction_id':'count_transactions'})
fig = plt.figure(figsize=(16, 4))  
ax = fig.add_subplot(111)
plt.title("visits per hour")
for garage_id in parking_locations.garage_id.unique():
    mask =(visitors_per_hour['garage_id']==garage_id)
    data= visitors_per_hour.loc[mask]
    plt.plot(data['hour'],data['count_transactions'],label=str(garage_id))
    ax.legend()
plt.show()

In [ ]:
visitors_per_hour = parking_transactions.groupby(['garage_id','hour','weekday'],as_index=False)['transaction_id'].count().rename(columns={'transaction_id':'count_transactions'})
for weekday in range(0,6+1):
    fig = plt.figure(figsize=(16, 4))  
    ax = fig.add_subplot(111)
    plt.title("visits per hour for weekday "+str(weekday))
    for garage_id in parking_locations.garage_id.unique():
        mask =(visitors_per_hour['garage_id']==garage_id) & (visitors_per_hour['weekday']==weekday)
        data= visitors_per_hour.loc[mask]
        plt.plot(data['hour'],data['count_transactions'],label=str(garage_id))
        ax.legend()
plt.show()

<h2>6. Perform clustering on locations </h2>
As a simple test with clustering, we will inspect the latitude and longitude of the parking locations and perform K-Means clustering on this. 

### a. Plot the latitude versus the longitude of the parking locations. 

### b. Perform K-Means clustering on this
Perform the following steps:
<p>
    <ol>
<li>Perform K-means clustering on the dataset using the *KMeans* function from sklearn.cluster. We would like to create two groups (just for demonstrating now) so the number of clusters *k* in the algorithm is two. </li>
<li>Perform a prediction using *predict()* on the data set. </li>
<li>Show the results by coloring each dot in the scatterplot  </li>

    </ol>
</p>


### c. Add the column with the cluster number to the dataset and save it to csv
Call the result 'clusters.csv', for example.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.plot(parking_locations.latitude, parking_locations.longitude,'co')

In [ ]:
parking_locations

In [ ]:
parking_locations[['latitude', 'longitude']] = parking_locations[['latitude', 'longitude']].astype(float)

from sklearn.cluster import KMeans
X =parking_locations[['latitude','longitude']] 
k_means=KMeans(n_clusters=2,random_state=0)
k_means.fit(X)

cluster_values=k_means.predict(X)
fig = plt.figure(figsize=(6, 4)) 
plt.title("parking locations",size=15)
plt.scatter(X.latitude,X.longitude,c=cluster_values,s=100)

In [ ]:
parking_locations['cluster']=cluster_values
parking_locations['labels'] = k_means.labels_
parking_locations.head()

In [ ]:
#parking_locations.to_csv("../data/out-clusters.csv",sep=";")

#### Extra information about the groups

In [ ]:
label_groups = parking_locations.groupby('labels')
for name, group in label_groups:
    print(name) 
    print(group.describe())

## Done!
This is the end of tutorial 1. In the next tutorial, we will do the data preparation.